# Etapa 3: Análisis de datos utilizando SQL


## Objetivos

En esta práctica subiremos los datos a una base de datos SQL y realizaremos diferentes queries para obtener información sobre los datos

In [5]:
!pip install sqlalchemy==1.4.6 --quiet
import pandas as pd
import numpy as np
!pip install PyMySQL --quiet
import pymysql as pymsql
!pip install mysql-connector --quiet
import mysql.connector
from sqlalchemy import create_engine
!pip install sqlalchemy-utils --quiet
from sqlalchemy_utils import database_exists, create_database
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)


### Tarea 1: Subir los datos a la base de datos:

Primero cargamos el archivo de datos `dataset_part_2.csv`.

In [9]:
df_path = "dataset_part_2.csv"
df = pd.read_csv(df_path, index_col = 0)
df.head(11)

,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class
0,1,2010-06-04,Falcon 9,6123.547647,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,SpaceX,True,0,B0003,-80.577366,28.561857,0
1,2,2012-05-22,Falcon 9,525.000000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,NASA(COTS),True,0,B0005,-80.577366,28.561857,0
2,3,2013-03-01,Falcon 9,677.000000,CRS-2,ISS,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,NASA (CRS),True,0,B0007,-80.577366,28.561857,0
3,4,2013-09-29,Falcon 9,500.000000,CASSIOPE,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,MDA,True,0,B1003,-120.610829,34.632093,0
4,5,2013-12-03,Falcon 9,3170.000000,SES-8,GTO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,SES,True,0,B1004,-80.577366,28.561857,0
5,6,2014-01-06,Falcon 9,3325.000000,Thaicom 6,GTO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,Thaicom,True,0,B1005,-80.577366,28.561857,0
6,7,2014-04-18,Falcon 9,2296.000000,CRS-3,ISS,CCSFS SLC 40,True Ocean,1,False,False,True,NaN,1.0,NASA (CRS),True,0,B1006,-80.577366,28.561857,1
7,8,2014-07-14,Falcon 9,1316.000000,Orbcomm-OG2-M1,LEO,CCSFS SLC 40,True Ocean,1,False,False,True,NaN,1.0,Orbcomm,True,0,B1007,-80.577366,28.561857,1
8,9,2014-08-05,Falcon 9,4535.000000,AsiaSat 8,GTO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,AsiaSat,True,0,B1008,-80.577366,28.561857,0
9,10,2014-09-07,Falcon 9,4428.000000,AsiaSat 6,GTO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,AsiaSat,True,0,B1011,-80.577366,28.561857,0
10,11,2014-09-21,Falcon 9,2216.000000,CRS-4,ISS,CCSFS SLC 40,False Ocean,1,False,False,False,NaN,1.0,NASA (CRS),True,0,B1010,-80.577366,28.561857,0

In [10]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [11]:
#Rellena la siguiente variable con tu nombre y apellido (Todo junto y sin espacios). 
nombreBD = 'ErnestoVelascoSobrino'
linkConexion = 'mysql+mysqlconnector://alumno:385bd4cf713a8a36@13.39.109.107/' + nombreBD
#Establecemos la conexión
engine = create_engine(linkConexion)

In [12]:
if not database_exists(engine.url):
    create_database(engine.url)

In [13]:
# Añadir el dataframe a sql SPACEXTBL usando la función to_sql().
df.to_sql('SPACEXTBL', engine)

In [14]:
query = """select * from SPACEXTBL;"""
df  = pd.read_sql(query, con = engine )
df

,index,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class
0,0,1,2010-06-04,Falcon 9,6123.547647,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SpaceX,1,0,B0003,-80.577366,28.561857,0
1,1,2,2012-05-22,Falcon 9,525.000000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA(COTS),1,0,B0005,-80.577366,28.561857,0
2,2,3,2013-03-01,Falcon 9,677.000000,CRS-2,ISS,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA (CRS),1,0,B0007,-80.577366,28.561857,0
3,3,4,2013-09-29,Falcon 9,500.000000,CASSIOPE,PO,VAFB SLC 4E,False Ocean,1,0,0,0,None,1.0,MDA,1,0,B1003,-120.610829,34.632093,0
4,4,5,2013-12-03,Falcon 9,3170.000000,SES-8,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SES,1,0,B1004,-80.577366,28.561857,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,85,86,2020-09-03,Falcon 9,15600.000000,Starlink-11,VLEO,KSC LC 39A,True ASDS,2,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,12,B1060,-80.603956,28.608058,1
86,86,87,2020-10-06,Falcon 9,15600.000000,Starlink-12,VLEO,KSC LC 39A,True ASDS,3,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,13,B1058,-80.603956,28.608058,1
87,87,88,2020-10-18,Falcon 9,15600.000000,Starlink-13,VLEO,KSC LC 39A,True ASDS,6,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,12,B1051,-80.603956,28.608058,1
88,88,89,2020-10-24,Falcon 9,15600.000000,Starlink-14,VLEO,CCSFS SLC 40,True ASDS,3,1,1,1,5e9e3033383ecbb9e534e7cc,5.0,SpaceX,1,12,B1060,-80.577366,28.561857,1
89,89,90,2020-11-05,Falcon 9,3681.000000,GPS III SV04 (Sacagawea),MEO,CCSFS SLC 40,True ASDS,1,1,0,1,5e9e3032383ecb6bb234e7ca,5.0,United States Space Force,1,8,B1062,-80.577366,28.561857,1

## Tarea 2: Queries con SQL

### Ejercicio 1

##### Muestra las diferentes plataformas de lanzamiento:

In [19]:
#Rellena la variable query con tu consulta
query = """ SELECT Launchsite FROM SPACEXTBL GROUP BY 1   """
df  = pd.read_sql(query, con = engine )
df

     Launchsite
0  CCSFS SLC 40
1    KSC LC 39A
2   VAFB SLC 4E

### Ejercicio 2

##### Muestra 5 lanzamientos cuya plataforma empiece por 'CCS'

In [23]:
query2 = """ SELECT Launchsite FROM SPACEXTBL WHERE Launchsite LIKE '%CCS%' """
df  = pd.read_sql(query2, con = engine )
df

      Launchsite
0   CCSFS SLC 40
1   CCSFS SLC 40
2   CCSFS SLC 40
3   CCSFS SLC 40
4   CCSFS SLC 40
5   CCSFS SLC 40
6   CCSFS SLC 40
7   CCSFS SLC 40
8   CCSFS SLC 40
9   CCSFS SLC 40
10  CCSFS SLC 40
11  CCSFS SLC 40
12  CCSFS SLC 40
13  CCSFS SLC 40
14  CCSFS SLC 40
15  CCSFS SLC 40
16  CCSFS SLC 40
17  CCSFS SLC 40
18  CCSFS SLC 40
19  CCSFS SLC 40
20  CCSFS SLC 40
21  CCSFS SLC 40
22  CCSFS SLC 40
23  CCSFS SLC 40
24  CCSFS SLC 40
25  CCSFS SLC 40
26  CCSFS SLC 40
27  CCSFS SLC 40
28  CCSFS SLC 40
29  CCSFS SLC 40
30  CCSFS SLC 40
31  CCSFS SLC 40
32  CCSFS SLC 40
33  CCSFS SLC 40
34  CCSFS SLC 40
35  CCSFS SLC 40
36  CCSFS SLC 40
37  CCSFS SLC 40
38  CCSFS SLC 40
39  CCSFS SLC 40
40  CCSFS SLC 40
41  CCSFS SLC 40
42  CCSFS SLC 40
43  CCSFS SLC 40
44  CCSFS SLC 40
45  CCSFS SLC 40
46  CCSFS SLC 40
47  CCSFS SLC 40
48  CCSFS SLC 40
49  CCSFS SLC 40
50  CCSFS SLC 40
51  CCSFS SLC 40
52  CCSFS SLC 40
53  CCSFS SLC 40
54  CCSFS SLC 40

### Ejercicio 3

##### Mustra el la masa total transportada por los lanzamientos realizados donde el cliente es NASA (CRS)

In [43]:
query3 = """ SELECT SUM(PayloadMass) AS MASA, Customers AS CLIENTE FROM SPACEXTBL WHERE Customers = 'NASA (CRS)' """
df  = pd.read_sql(query3, con = engine )
df

      MASA     CLIENTE
0  47094.7  NASA (CRS)

### Ejercicio 4

##### Muestra la masa media tranportada por lanzamientos con serie que comienza por B1

In [37]:
query4 = """ SELECT AVG(PayloadMass) AS MEDIA, Serial AS SERIE FROM SPACEXTBL WHERE Serial LIKE '%B1%'  """
df  = pd.read_sql(query4, con = engine )
df

         MEDIA  SERIE
0  6250.502765  B1003

### Ejercicio 5

##### Muestra la fecha donde se realizo el primer aterrizaje exitoso sobre terreno (TRUE RTLS)

*Pista:Utiliza la función min*

In [40]:
query5 = """ SELECT MIN(Date) AS Fecha, LandingOutcome AS ATR_EXIST FROM SPACEXTBL WHERE LandingOutcome = 'True RTLS' """
df  = pd.read_sql(query5, con = engine )
df

        Fecha  ATR_EXIST
0  2015-12-22  True RTLS

### Ejercicio 6

##### Muestra las series de los cohetes que aterrizaron sobre portaviones (TRUE ASDS) con una masa entre 4000 y 6000

In [42]:
query6 = """ SELECT LandingOutcome AS ATR_EXIST, PayloadMass AS MASA FROM SPACEXTBL WHERE LandingOutcome = 'True ASDS' AND PayloadMass BETWEEN 4000 AND 6000 
ORDER BY MASA DESC"""
df  = pd.read_sql(query6, con = engine )
df

   ATR_EXIST    MASA
0  True ASDS  5800.0
1  True ASDS  5300.0
2  True ASDS  5200.0
3  True ASDS  5000.0
4  True ASDS  4696.0
5  True ASDS  4600.0
6  True ASDS  4000.0

### Ejercicio 7

##### Muestra el numero de lanzamientos que completaron su mision correctamente y aquellos que fallaron

In [50]:
query7 = """ SELECT LandingOutcome, COUNT(LandingOutcome) AS ATR_EXIST FROM SPACEXTBL GROUP BY LandingOutcome """
df  = pd.read_sql(query7, con = engine )
df

  LandingOutcome  ATR_EXIST
0     False ASDS          6
1    False Ocean          2
2     False RTLS          1
3      None ASDS          2
4      None None         19
5      True ASDS         41
6     True Ocean          5
7      True RTLS         14

### Ejercicio 8

##### Muestra las series de los cohetes que transportaron la masa máxima

In [51]:
query8 = """ SELECT MAX(PayloadMass) FROM SPACEXTBL """
df  = pd.read_sql(query8, con = engine )
df

   MAX(PayloadMass)
0           15600.0

In [55]:
query8 = """ SELECT  Serial,PayloadMass FROM SPACEXTBL WHERE PayloadMass = (SELECT MAX(PayloadMass) FROM SPACEXTBL) """
df  = pd.read_sql(query8, con = engine )
df

   Serial  PayloadMass
0   B1048      15600.0
1   B1049      15600.0
2   B1051      15600.0
3   B1056      15600.0
4   B1048      15600.0
5   B1051      15600.0
6   B1049      15600.0
7   B1059      15600.0
8   B1049      15600.0
9   B1060      15600.0
10  B1058      15600.0
11  B1051      15600.0
12  B1060      15600.0

### Ejercicio 9

##### Muestra los el resultados del aterrizaje, la serie del cohete y las plataforma de lanzamiento de aquellos lanzamientos fallidos o no intentados en el año 2015

In [60]:
query9 = """ SELECT LandingOutcome AS ATERRIZAJE, Serial AS SERIE, Date AS FECHA FROM SPACEXTBL 
WHERE Date = 2015 AND LandingOutcome NOT LIKE '%True%'  """
df  = pd.read_sql(query9, con = engine )
df

   ATERRIZAJE  SERIE       FECHA
0  False ASDS  B1012  2015-01-10
1  False ASDS  B1015  2015-04-14
2   None None  B1016  2015-04-27
3   None ASDS  B1018  2015-06-28

### Ejercicio 10

##### Muestra los resultados y la frecuencia de estos resultados entre 2010-06-04 y 2017-03-20 ordenados en orden descendiente según la frecuencia

In [65]:
query10 = """ SELECT COUNT(LandingOutcome) AS ATERRIZAJE, LandingOutcome FROM SPACEXTBL 
WHERE Date BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY LandingOutcome ORDER BY ATERRIZAJE DESC"""
df  = pd.read_sql(query10, con = engine )
df

   ATERRIZAJE LandingOutcome
0           9      None None
1           5      True ASDS
2           4     False ASDS
3           3     True Ocean
4           3      True RTLS
5           2    False Ocean
6           2      None ASDS